@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

* {
  padding: 0;
  margin: 0;
  border-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
}

body {
    background-color: #cd989f;
    font-family: "Roboto Condensed", sans-serif;
}

.container {
  padding: 3% 6%;
}

#waivtext {
  margin-top: 3%;
  background-color: #fff;
  max-height: 48%;
  overflow-y: scroll;
  padding: 30px 20px 30px 30px;
}

::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: #fff; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cd989f;
  border: solid 3px #fff;}

::-webkit-scrollbar-thumb:window-inactive {
  background: #cd989f; }

input {
  border: none;
  padding: 2px 5px 0px 5px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.8em;
}

input[id=inline-name] {
  border-bottom: solid 2px #000;
}

form {
  text-align: center;
  margin-top: 4%;
  color:#fff;
}

form p {
  margin: 5px;
}

input[type=submit]
{
  background-color: #fff;
  text-transform: uppercase;
  color:#cd989f;
  font-size: 1.1em;
}

.waiver-title {
    color: white;
    text-align: center;
}

.waiver {
    margin: 15px;
}

.waiver-header1 {
    text-decoration: underline;
    margin: 15px;
}

.waiver-header2 {
    margin: 15px;
    text-align: center;
}

.waiver-warning {
    margin: 15px;
}

.waiver-form {
    margin: 15px;
}

.thanks {
    text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -40px;
    height: 90px;
    color: white;
}
